.cor-fundo{
    background-color:#D2D2D2; ;
}
.cor-letra{
    color: #E03616;
}

.cor-letra-D2D2D2{
    color : #D2D2D2;
}

.cor-icone-quadrado{
    background-color: #E03616;
}

.cor-botao{
    background-color: #E03616;
}

.borda{
    border-color:#E03616;
    border-width: solid 3px;
}
