.cor-fundo{
    background-color:#ffffff; ;
}

.blue {
    color: #e01616;
}

.cor-letra-home{
    color:rgb(132, 0, 255)
}

.cor-letra{
    color:black
}

.cor-letra-D2D2D2{
    color : #D2D2D2;
}

.cor-icone-quadrado{
    background-color: #E03616;
}

.cor-botao{
    background-color: #E03616;
}

.borda{
    border-color:#E03616;
    border-width: solid 3px;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

hr {
    border-color: #E03616;
    border-width: 10px;
}

footer{
    background-color: #363636;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    font-family: 'Montserrat',sans-serif;
}

hgroup:focus,a:focus,h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,p:focus,h6:focus,i:focus,input:focus{
    background-color: lightgrey;
}